html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: block; /* default */
  background: #4A709B;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
}

h1 {
  font-weight: 400;
  font-size: 35px;
}

h2 {
  font-weight: 700;
}

strong {
  font-weight: 900;
  font-size: 40px;
}

img {
  /* Removes ability to drag and drop images */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  color: white;
  text-decoration: none;
}

#site-links-container {
  display: block;
  margin: 40px auto 20px;
}
.site-link {
  display: inline-block;
  margin: 0 1%;
  font-size: 16px;
  font-weight: 200;
  border: solid white 0.5px;
  padding: 15px 20px 15px;
  font-family: 'Hind', sans-serif;
  background: white;
  color: #4A709B;
  transition: 0.2s;
}
  .site-link:hover {
    color: white;
    background: #4A709B;
    transition: 0.2s;
  }

.external-link {
  width: 50px;
  margin: 10px;
  margin-bottom: 0;
  /* margin: 60px; */
  color: white;
  transition: 0.2s;
}
  .external-link:hover {
    transition: 0.2s;
    color: #bbb;
  }



.main-content {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
  color: #ddd;
}
  .main-content > a {
    font-style: italic;
    color: #ddd;
    transition: 0.2s;
  }
  .main-content > a:hover {
    text-decoration: underline;
    transition: 0.2s;
  }
