/*********************************************************************************
*
*  Styling for the main page. Includes the first screen, projects, and external navigation (contact) styles.
*  Andrew Gray
*  Aug 17, 2019
*
*********************************************************************************/

/* First screen styles -------------------------------------------------------- */
#home-section {
  opacity: 0;
}
#profile-image {
  border-radius: 50%;
}

/* Anything smaller than 609 */
@media only screen and (max-width: 609px) {
  #home-section {
    margin-top: 45px; /* moves to 60px after jquery animation */
  }
  #profile-image {
    width: 160px;
    height: 160px;
  }
}

/* Anything larger than 610 */
@media only screen and (min-width: 610px) {
  #home-section {
    margin-top: 70px; /* moves to 60px after jquery animation */
  }
  #profile-image {
    width: 200px;
    height: 200px;
  }
}
.main-content {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
  color: #ddd;
}
  .main-content > a {
    font-style: italic;
    transition: 0.2s;
  }
  .main-content > a:hover {
    text-decoration: underline;
    transition: 0.2s;
  }

/* Contacts styles ------------------------------------------------------------ */
#contacts-container { }
#my-email {
    font-size: 22px;
}
.external-link {
  width: 50px;
  margin: 10px;
  margin-bottom: 0;
  color: white;
  transition: 0.2s;
}
  .external-link:hover {
    transition: 0.2s;
    color: #bbb;
  }
/* Need to slightly shrink the linkedin icon because it looks too big compared to the github icon */
#linkedin-link {
  width: 40px;
}
/* Classes toggled to highlight contact info when 'Contact' clicked in the navigation bar
Need to add two classes to preserve transition while not impacting its default css behaviour */
.highlight-contact-info {
  transform: scale(1.2);
  transition: 0.5s;
}
.unhighlight-contact-info {
  transform: scale(1);
  transition: 0.5s;
}

/* Projects styles ------------------------------------------------------------ */
#projects-section {
  margin-top: 200px;
  margin-bottom: 50px;
}
#projects-container {
  display: block;
  width: 35%;
  margin: 0 auto;
}
.project-container {
  border: 1px solid #ccc;
  border-bottom-color: #00000000;
  border-left-color: #00000000;
  border-right-color: #00000000;
  padding: 25px 20px 25px 20px;
  color: white;
}
  .project-container:hover {
    background: #3A608B;
  }
  .project-container > span:hover {
    color: #4087c6;
  }
