
/* Anything smaller than 609 */
@media only screen and (max-width: 609px) {
  #page {
    margin-top: 45px; /* moves to 60px after jquery animation */
  }
  #profile-image {
    width: 160px;
    height: 160px;
  }
} /* end media query */

/* Anything larger than 610 */
@media only screen and (min-width: 610px) {
  #page {
    margin-top: 70px; /* moves to 60px after jquery animation */
  }
  #profile-image {
    width: 200px;
    height: 200px;
  }
} /* end media query */



#page {
  opacity: 0;
}

#profile-image {
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid white;
}



.external_link {
  display: none;
  background: #4A709B;
  color: white;
  padding-top: -10px;
  margin: 30px;
  width: 45px;
  height: 45px;
  transition: 0.4s;
}
  .external_link:hover {
    width: 100px;
    height: 100px;
    transition: 0.2s;
  }

#linkedin-link {
  width: 40px;
}
