/* Styles for intro screen styles and associated animations*/

#main_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: yellow;
  top: 0;
  left: 0;
  z-index: 12;
  color: white;
}

#main_logo {
  opacity: 0.0; /* animated to 1.0 on page load by jquery in anim.js */
  margin: 0 auto;
  width: 20%;
  display: block;
  position: absolute;
  top: 40%;
}

#top_curtain {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: black;
}
#bottom_curtain {
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  top: 60%;
  background: black;
}
