html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: block; /* default */
}


p {
  font-size: 15px;
}
h1 {
  font-weight: 400;
  font-size: 35px;
}
h2 {
  font-weight: 700;
}
strong {
  font-weight: 900;
  font-size: 40px;
}

img {
  /* Removes ability to drag and drop images */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  color: black;
  text-decoration: none;
}





/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Main Page Styles */


#landing_page {
  margin-top: 70px; /* moves to 60px after jquery animation */
  background: white;
  opacity: 0;
}

#profile_image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.main_content {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
}

#site_links_container {
  margin: 0 auto;
  /* background: yellow; */
  margin: 40px auto 40px;

}
.nav_item {
  display: inline-block;
  margin: 0 1%;
}
.site_link {

}

#external_links_container {
  margin: 0 auto;
  /* background: green; */
  width: 40%;
  height: 50px;
}
.external_link {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 3%;

  /* Use CSS transition property to apply brightness-fading animation to highlighted external link icon */
  -webkit-filter: brightness(100%);
  transition: -webkit-filter 0.3s ease-in-out;

}
  .external_link:hover {
    -webkit-filter: brightness(40%);
  }




/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Project Page Styles */

#projects_container {
  margin-top: 333px;
  width: 100%;
}

.project_container {
  margin: 0 auto;
  width: 80%;
  background: white;
  box-shadow: 0 0 5px 5px #ddd;
}
  .project_container h3 {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    font-size: 28px;
    text-align: center
  }
  .project_container p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 13px;
    line-height: 20px;
    width: 60%;
    margin: 0 auto 30px;
  }
  .project_github_link {
    display: inline-block;
    position: absolute;
    left: 15%;
    padding-top: 20px;
  }
  .project_container iframe {
    display: inline;
    margin: 0 0 30px;
  }
  .project_container img {
    margin: 0 0 30px;
  }

/*-----------------------------------------------------------------------------------------------------------------------------------*/
