
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  color: #bbb;
  margin-right: 80px;
  margin-left: 80px;
}

main {
  text-align: center;
}

span {
  font-family: 'Hind', sans-serif;
}

footer {
  margin-top: 30px;
  text-align: center;
}
  footer > hr {
    border: 0.3px solid #bbb;
  }
  footer > p {
    color: #bbb;
  }

#header-background {
  color: white;
  /* background: linear-gradient(90deg, rgba(20,40,92,1) 0%, rgba(26,34,55,1) 100%); */
  background: rgba(26,34,55,1);
  width: 100%;
  height: 100vh;
  margin: 0 auto 0;
  display: block;
}

.header-title-container {
  width: 100%;
  text-align: center;
  display: inline-block;
}
  .header-title-container > h1 {
    font-size: 75px;
    font-weight: 400;
  }
  .header-title-container > h2 {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: -30px;
  }

#name-container {
  margin-top: 25vh;
}

.links-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 30px 0 33px;
}

.circle {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid white;
  margin-left: 10px;
  margin-right: 10px;
}

.link-icon {
  width: 45px;
  padding-top: 12px;
}


#lnkdinlogo-icon:hover,
#github-icon:hover {
  background: #8a92c7;
  transition: 0.3s;
}

#email-link {
  display: inline;
  font-size: 1.4em;
  text-align: center;
  width: 80%;
}

#resume-link:hover,
#email-link:hover {
  transition: 0.3s;
  color: #8a92c7;
  cursor: pointer;
}

/* Main content section */
.main-section {
  margin-top: 50px;
}





#projects-container {
  display: block;
  width: 35%;
  margin: 20px auto 30px;
}
.project-container {
  border: 1px solid #ccc;
  border-bottom-color: #00000000;
  border-left-color: #00000000;
  border-right-color: #00000000;
  padding: 25px 20px 25px 20px;
  color: white;
}
  .project-container:hover {
    background: #eee;
  }
  .project-container > span > p {
    /* font-weight: 400; */
  }
  .project-container > span > p:hover {
    color: #f00;
  }

.highlight-contact-info {
  transition: 0.3s;
  transform: scale(1.4);
  color: #8a92c7;
}
.unhighlight-contact-info {
  transition: 0.3s;
  transform: scale(1.0);
  color: white;
}


.show-nav-button {
  position: fixed;
  top: 25px;
  left: 35px;
  font-size: 25px;
  color: white;
  font-weight: 900;
  transform: rotate(90deg);
  z-index: 101;
}
  .show-nav-button:hover {
    cursor: pointer;
  }
#firstbar,
#thirdbar {
  transition: 0.5s;
  display: inline-block;
}
.navVisible1 {
  transition: 0.5s;
  transform: translate(-5.5px) rotate(45deg);
}
.navVisible2 {
  transition: 0.5s;
  transform: translate(5.5px) rotate(-45deg);
}

#nav-container {
  color: white;
  position: fixed;
  top: 80px;
  background: #1a2237;
  padding-top: 1000px;
  margin-top: -1000px;
  padding-bottom: 1000px;
  border: 25px solid #1a2237;
  z-index: 99;
}
  #nav-container > a {
    display: block;
  }


.site-link {
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  font-weight: 200;
  border: solid white 0.5px;
  padding: 15px 20px 15px;
  font-family: 'Hind', sans-serif;
  background: white;
  color: #1a2237;
  transition: 0.2s;
  text-align: center;
}
  .site-link:hover {
    color: white;
    background: #1a2237;
    transition: 0.2s;
  }

#nav-button-perma-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: #1a2237;
  height: 90px;
  width: 100%;
}

#link-to-maurice:hover {
  text-decoration: underline;
}


#experience-cells-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px 100px 75px;
}
.experience-cell {
  flex: 1 0 31%;                       /* don't grow, don't shrink, width */
  height: 200px;
  margin: 10px;
  background-color: #fff;
  color: black;
  box-shadow: 0px 0px 6px #ccc;
  border-radius: 5px;
  transition: 0.5s;
}
  .experience-cell:hover {
    color: white;
    background-color: #1a2237;
    transition: 0.5s;
  }
.experience-category-title {
  font-size: 28px;
  position: relative;
  top: 45%;
  /* transition: 0.8s; */
}
  .experience-category-title-viewed { /* applied when an the experience item is clicked to enlarge it */
    margin-top: 40px;
    position: static;
  }
.view-experience-cell {
  height: 430px;
  flex: 1 0 93%;
}

/* Anything smaller than 550px */
@media only screen and (max-width: 550px) {
  #name-container {
    margin-top: 10vh;
  }
  #projects-container {
    width: 55%;
  }
  #email-link {
    display: inline;
    font-size: 16px;
    text-align: center;
    width: 80%;
  }
  #projects-container {
    display: block;
    width: 60%;
    margin: 20px auto 30px;
  }
}
